@page "/counter"
@using SpawnDev.BlazorJS.WebWorkers

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@inject WebWorkerService WorkerService
@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        //currentCount++;

        using var webWorker = await WorkerService.GetWebWorker();
        var myWorker = webWorker.GetService<IMyWorker>();
        var result = await myWorker.Add(currentCount, 1);
    }
}
