@page "/counter"
@using SpawnDev.BlazorJS.WebWorkers
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@inject IServiceProvider ServiceProvider
@inject IWebAssemblyHostEnvironment HostEnvironment
@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        if (HostEnvironment.Environment == "Prerendering")
        {
            // single thread in prerendering environment
            var myWorker = ServiceProvider.GetService<IMyWorker>();
            currentCount = await myWorker.Add(currentCount, 1);
        }
        else
        {
            // web worker
            var workerService = ServiceProvider.GetService<WebWorkerService>();
            using var webWorker = await workerService.GetWebWorker();
            var myWorker = webWorker.GetService<IMyWorker>();
            currentCount = await myWorker.Add(currentCount, 1);
        }
    }
}
